{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock %}
{% block content %} 

    <div class="columns">
        {% with menu=menu %}
            {% include 'panels/menu.html' ignore missing %}
        {% endwith %}
        <div class="column">
            <form action="/add_flight" method="POST">
                <div class="columns">
                    <div class="column"><input class="input" type="date" name="date" required/></div>
                    <div class="column"><input class="input is-uppercase" placeholder="FROM ABB." type="text" name="from" required/></div>
                    <div class="column"><input class="input is-uppercase" placeholder="TO ABB." type="text" name="to" required/></div>
                    <div class="column"><input class="input" placeholder="PILOT ID" type="text" name="pilot" required/></div>
                    <div class="column"><input class="input" placeholder="PLANE ID" type="text" name="plane" required/></div>
                    <div class="column">
                        <button class="button is-success">
                            <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
                            <span>ADD</span>
                        </button>
                    </div>
                </div>
            </form> 

            <hr>

            <div class="table-container">
                <table class="table is-bordered is-striped is-narrow has-text-centered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Pilot</th>
                            <th>Plane Type</th>
                            <th>Plane Brand</th>
                            <th>Capacity</th>
                            <th>Passengers</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if flights %}
                        {% for flight in flights %}
                        <tr>
                            <td class="is-vcentered is-narrow">{{ flight.id }}</td>
                            <td class="is-vcentered">{{ flight.date }}</td>
                            <td class="is-vcentered">{{ flight.from_airport }}</td>
                            <td class="is-vcentered">{{ flight.to_airport }}</td>
                            <td class="is-vcentered">{{ flight.pi_name }}</td>
                            <td class="is-vcentered">{{ flight.pl_name }}</td>
                            <td class="is-vcentered">{{ flight.pl_brand }}</td>
                            <td class="is-vcentered">{{ flight.pl_cap }}</td>
                            <td class="is-vcentered">{{ flight.passengers }}</td>
                            <td class="is-vcentered is-narrow">
                                <form action="/delete_flight/{{ flight.id }}" method="POST">
                                    <button class="button is-danger">
                                        <span class="icon"><i class="fas fa-times-circle"></i></span>
                                    </button>
                                </form>  
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}