{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock %}
{% block content %} 

    <div class="columns">
        {% with menu=menu %}
            {% include 'panels/menu.html' ignore missing %}
        {% endwith %}
        <div class="column ml-4">
            <div class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title  has-text-link">Welcome to Admin Panel!</h1><br>
                        <h3 class="subtitle has-text-grey">You can use the menu to navigate through tables at the database and you can edit them.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}