{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock %}
{% block content %} 

    <div class="columns">
        {% with menu=menu %}
            {% include 'panels/menu.html' ignore missing %}
        {% endwith %}
        <div class="column">
            <div class="table-container">
                <table class="table is-bordered is-striped is-narrow has-text-centered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Mail</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if reservations %}
                        {% for reservation in reservations %}
                        <tr>
                            <td class="is-vcentered">{{ reservation.id }}</td>
                            <td class="is-vcentered">{{ reservation.name }}</td>
                            <td class="is-vcentered">{{ reservation.mail }}</td>
                            <td class="is-vcentered">{{ reservation.count }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}