{% extends "layout.html" %}
{% block title %}Flight Details{% endblock %}
{% block content %}
    <section class="hero">
      <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-link">Flight Details</h1>
          </div>
      </div>
    </section>

    <table class="table is-striped">
      <tr>
        <th>ID:</th>
        <td>{{ flight.id }}</td>
      </tr>
      <tr>
        <th>Date:</th>
        <td>{{ flight.date }}</td>
      </tr>
      <tr>
        <th>From:</th>
        <td>{{ flight.from_airport }}</td>
      </tr>
      <tr>
        <th>To:</th>
        <td>{{ flight.to_airport }}</td>
      </tr>
      <tr>
        <th>Pilot:</th>
        <td>{{ flight.pi_name }}</td>
      </tr>
      <tr>
        <th>Plane:</th>
        <td>{{ flight.pl_brand }} {{ flight.pl_name }}</td>
      </tr>
      <tr>
        <th>Capacity:</th>
        <td>{{ flight.pl_cap }}</td>
      </tr>
      <tr>
        <th>Passengers:</th>
        <td>{{ flight.passengers }}</td>
      </tr>
    </table>

    <hr>

    <form action="/new_reservation/{{ flight.id }}" method="POST">
      <div class="columns">
        <div class="column is-1">
          <input class="input" placeholder="Quantity" type="number" name="count" required/>
        </div>
        <div class="column control is-2">
          <button class="button is-danger">
            <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
            <span>Make Reservation</span>
          </button>
        </div>
      </div>
    </form>
       
{% endblock %}