{% extends "layout.html" %}
{% block title %} Flights {% endblock %}
{% block content %} 
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-link">Search Flights</h1>
            </div>
        </div>
    </section>

    <form action="/search_flights" method="POST">   
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <label class="label" for="Date">Pick a date:</label>
                <input class="input" type="date" name="date">
            </div>

            <div class="control">
                <label class="label" for="From">From:</label>
                <div class="select"> 
                    <select name="from">
                        {% if airports %}
                            {% for airport in airports %}
                            <option value="{{ airport.abbr }}">{{ airport.abbr }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="control">
                <label class="label" for="To">To:</label>
                <div class="select">
                    <select name="to">
                        {% if airports %}
                            {% for airport in airports %}
                            <option value="{{ airport.abbr }}">{{ airport.abbr }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="control">
                <br>
                <button class="button is-info">
                    <span class="icon"><i class="fas fa-filter"></i></span>
                    <span>Filter</span>
                </button>
            </div> 
        </div>
    </form> 

    <hr>

    {% if flights %}
    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow has-text-centered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Passengers</th>
                    <th>Details</th>
                </tr>
            </thead>
            
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td class="is-vcentered">{{ flight.id }}</td>
                    <td class="is-vcentered">{{ flight.date }}</td>
                    <td class="is-vcentered">{{ flight.from_airport }}</td>
                    <td class="is-vcentered">{{ flight.to_airport }}</td>
    
                    {% if flight.passengers < flight.pl_cap %}
                    <td class="is-vcentered">
                        <progress class="progress is-primary" value="{{ flight.passengers }}" max="{{ flight.pl_cap }}"></progress>
                    </td>
                    {% else %}
                    <td class="is-vcentered">
                        <progress class="progress is-danger" value="{{ flight.passengers }}" max="{{ flight.pl_cap }}">Full</progress>
                    </td>
                    {% endif %}
    
                    <td class="is-vcentered">
                        <a class="button is-link" href="/flights/{{ flight.id }}">
                            <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
                        </a>     
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <h1 class="title has-text-danger">No Result <i class="far fa-frown"></i></h1>
                </div>
            </div>
        </div>
    </section>


    {% endif %}
{% endblock %}