<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
  
    <link rel="icon" type="image/png" href="{{url_for('static', filename='icon.png')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </head>

  <body class="has-background-light">
    <header>
      <nav class="navbar is-dark p-2" role="navigation">
        {% if not current_user.is_authenticated %}
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <span class="icon px-6"><i class="fas fa-plane fa-2x"></i></span>
              <h1 class="title has-text-white">Flight Management System</h1>
            </a>
          </div>
        {% endif %}
        
        {% if current_user.is_authenticated and not current_user.is_admin %}
          <div class="navbar-brand">
            <a class="navbar-item" href="/flights">
              <span class="icon px-6"><i class="fas fa-plane fa-2x"></i></span>
              <h1 class="title has-text-white">Flight Management System</h1>
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <a class="button is-link" href="/flights">
                <span class="icon"><i class="fas fa-plane"></i></span>
                <span>Search Flights</span>
              </a>
            </div>

            <div class="navbar-item">
              <a class="button is-link" href="/reservation">
                <span class="icon"><i class="fas fa-calendar-check"></i></span>
                <span>My Reservations</span>
              </a>
            </div>

            <div class="navbar-item">
              <h3 class="title is-5 has-text-white">{{ current_user.name }}</h3>
            </div>
            <div class="navbar-item">
              <form action="/logout" method="POST">
                <div class="control">
                  <button class="button is-danger">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span>Logout</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        {% endif %}

        {% if current_user.is_authenticated and current_user.is_admin %}
          <div class="navbar-brand">
            <a class="navbar-item" href="/panel">
              <span class="icon px-6"><i class="fas fa-plane fa-2x"></i></span>
              <h1 class="title has-text-white">Flight Management System</h1>
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <h3 class="title is-5 has-text-white">{{ current_user.name }}</h3>
            </div>
            <div class="navbar-item">
              <form action="/logout" method="POST">
                <div class="control">
                  <button class="button is-danger">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span>Logout</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        {% endif %}        
      </nav>
    </header>

    <main>
      <section class="section">
        <div class="content">
          <br>{% block content %}{% endblock %}<br>
        </div>
      </section>
    </main>

    <footer class="footer has-background-dark">
      <div class="content has-text-centered has-text-light">
        <small> 
          <a class="button is-small is-rounded is-link has-text-grey-lighter" href="https://linktr.ee/hakan.otal">&copy; 2020 Hakan Tugrul Otal</a>
        </small>
      </div>
    </footer>
  </body>
</html>