{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock %}
{% block content %} 

    <div class="columns">
        <div class="column is-2 has-background-white">
            <aside class="menu">
                <p class="menu-label">Admin Panel</p>
                <ul class="menu-list">
                    <li><a>Flights</a></li>
                    <li><a>Pilots</a></li>
                    <li><a>Planes</a></li>
                    <li><a>Airports</a></li>
                    <li><a>Reservations</a></li>
                    <li><a>Users</a></li>
                </ul>    
            </aside>
        </div>
        <div class="column">
            <h1 class="title">Content!</h1>
        </div>
    </div>
    
{% endblock %}